{% extends "layout.html" %}

{% block title %}
    Add dish to order
{% endblock %}

{% block main %}
    <form action="/add_order_item" method="post">
        <h5>Your order id is {{ order_id }}</h5>
        <div class = "form_group">
            <select name = "chosen_dish">
                {% for dish in dishes %}
                <option>{{ dish }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
