{% extends "layout.html" %}

{% block title %}
    all orders
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <th>Order id</th>
            <th>User</th>
            <th>Ordered dishes</th>
            <th>Total price</th>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}